<div class="col-lg-5">
    <h1 class="h1-strong">{{title}}</h1>

    <div class="alert alert-success" *ngIf="status=='success'">
        Te has registrado correctamente,<a [routerLink]="['/registro']">registrate aquí</a>
    </div>
        
    <div class="alert alert-danger" *ngIf="status=='error'">
       Datos erroneos
    </div>

    <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-12">
        <p>
            <label>correo electronico</label>
            <input type="email" name="email" #email="ngModel"[(ngModel)]="user.email"class="form-control"required/>
            <span *ngIf="!email.valid&&email.touched">
                El email no es valido
            </span>
        </p>
        <p>
            <label>CONTRASEÑA</label>
            <input type="password" name="password" #password="ngModel"[(ngModel)]="user.password"class="form-control"required/>
            <span *ngIf="!password.valid&&password.touched">
                LA CONSTRASEÑA ES OBLIGATORIA
            </span>
        </p>

        <input type="submit"value="Entrar"class="btn btn-success"[disabled]="!loginForm.form.valid"/>

        <!-- <input type="submit" [routerLink]="['/Muro']" /> -->
    </form>
    
</div>