<section>
    <div class="cover" >
        <figure>
            <img id="photo" src="https://www.petscorner.co.uk/media/catalog/product/placeholder/websites/1/pc-place-holders-700x700.jpg" alt="">
            <h1></h1>
        </figure>
    </div>
  </section>
  <section class="barra">
    <article>
        <div>
            <h4>Matchs</h4>
        </div>
        <div>
            <h4>Siguiendo</h4>
            <h3></h3>
        </div>
        <div>
            <h4>Seguidores</h4>
            <h3></h3>
        </div>
        <div>
            <h4>Me guta</h4>
            
        </div>
        <div>
            <button id="follow" [routerLink]="['/muro']">
              MIS MURO
            </button>
        </div>
    </article>
  </section>
  
  <section class="cuerpo">
    <article>
        tus cosas
    </article>
    <article>
        
            <div>
                
                <p>
                   Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta ratione ullam iure quod voluptate dolores et sequi. Fuga assumenda perspiciatis cum blanditiis accusantium, reiciendis tempora! Aspernatur autem repudiandae eaque perferendis.
                </p>
            </div>
    </article>
  </section>
